body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    perspective: 1000px;
  }
  
  h1 {
    position: absolute;
    z-index: -1;
  }
  
  .flips {
    width: 600px;
    height: 320px;
    border: 5px solid #651142;
    background-color:#872D62;
    transition: all 1s;
  }
  
  .flips_left {
    transform-origin: left;
  }
  
  .flips_right {
    transform-origin: right;
  }
  
  .container:hover > .flips_left {
    transform: rotateY(50deg);
  }
  
  .container:hover > .flips_right {
    transform: rotateY(-50deg);
  }
